@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,
body {
	font-family: 'Poppins', sans-serif;
	/*background: #000;*/
	/*color: #fff;*/
	line-height: 1.5;
  background: url('../images/pexels-andrea-piacquadio-3768095.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
  height: 100%;
  width: 100%;
}

.navbar{
  color: #ffffff;
  font-weight: 500;
  font-size: large;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 1%;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  height: 8%;
  background: rgba(0, 0, 0, 0.256);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.842);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);  
}
.navbar p{
  margin-right: 20px;
  margin-left: 20px;
}
.navbar p:hover{
  color:#FFC36D;
  cursor: pointer;
}
.logoContainer{
  font-size:x-large;
  padding-left: 2%;
  width: 20%;
}
.logoutContainer{
  width: 20%;
  display: flex;
  justify-content: flex-end;
}
.buttonsContainer{
  display: flex;
  flex-direction: row;
  
  width: 60%;
}

.userPage{
  padding-top: 1%;
  height: 100vh;
  background: url('../images/pexels-photo-237371.jpeg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
  

}


.loginContainer{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items:center;
}

.cardLogin{
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* From https://css.glass */
  background: rgba(0, 0, 0, 0.41);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgb(0, 0, 0);
  backdrop-filter: blur(5.8px);
  -webkit-backdrop-filter: blur(5.8px);
  border: 1px solid rgba(0, 0, 0, 0.41);
  padding-top: 1%;
  padding-bottom: 2%;
  padding-left: 2%;
  padding-right: 2%;
}
.cardLogin h1{
  margin-bottom: 3%;
}
.cardLogin input{
  width: 40%;
  margin-bottom: 3%;
  font-size: larger;
  border: none;
  padding: 5px;
  border-radius: 5px;
  background: rgb(255, 225, 179);
}
.cardLogin button{
  font-family: inherit;
  width: 20%;
  border: none;
  padding: 1%;
  background-color: rgb(231, 176, 103);
  border-radius: 5px;
  font-weight: 500;
}
.cardLogin button:hover{
  box-shadow: 0 4px 30px rgb(241, 201, 114);
  cursor: pointer;
}
/*css hotels*/
.hotelsContainer{
  margin-left: 1%;
  margin-right: 1%;
  height: 90%;
  display: flex;
}
.filterSection{
  color: #ffffff;
  width: 20%;
  background: rgba(0, 0, 0, 0.256);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.842);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);  
  margin-right: 1%;
  margin-bottom: 1%;
}
.filterSection p{
  padding-top: 5%;
  padding-left: 4%;
}

.filterSection input[type="checkbox"]{
  width: 20px;
  height: 20px;
  margin-right: 10px;
  cursor: pointer;
}
.filterSection label{
  padding-top: 10px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  
}

.hotelSection{
  color: #ffffff;
  width: 79.5%;
  background: rgba(0, 0, 0, 0.256);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.842);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin-bottom: 1%;
  
}

.hotelSection h2{
  margin-left: 20px;
  margin-top: 10px;  
  margin-bottom: 1%;
}


/*GroupCardHotel*/
.hotelGroupCards{
  /* From https://css.glass */
  background: rgba(0, 0, 0, 0);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.842);
  backdrop-filter: blur(8.4px);
  -webkit-backdrop-filter: blur(8.4px);
  border: 1px solid rgba(255, 255, 255, 0.142);
  height: 90%;
  width: 95%;
  margin-left: 2.5%;
  padding-top: 3%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
  overflow-y: auto;
  gap: 10px;
}

/*cardhotel*/
.cardHotel{
  width: 85%;
  height: 200px;
  background: rgba(0, 0, 0, 0.63);
  border-radius: 9px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.842);
  border: 1px solid rgba(255, 255, 255, 0.142);
  display: flex;
  flex-direction: row;
}
.cardHotel:hover{
  border: 1px solid #a3a3a3;
  box-shadow: 0 4px 30px rgba(206, 206, 206, 0.747);
  background: rgba(0, 0, 0, 0.651);
  
}

.imgContainer{
  display: flex;
  align-items: center;
  
  justify-content: center;
}
.imgContainer img{
  border-radius: 10px;
  width: 235px;
  margin: 11px;
  box-shadow: 0 4px 30px rgba(158, 158, 158, 0.623);
}

.textContainerCardHotel{
  margin-top: 2%;
  margin-bottom: 2%;
  margin-right: 2%;
  display: flex;
  flex-direction: column;
}
.description{
  font-size:small;
  color:#b9b9b9;
  width: 100%;
  overflow-y: auto;
}

/*habitaciones*/
.Modal {
  color: #ffffff;
  font-weight: 100;
  position: absolute;
  top: 40px;
  left: 30%;
  right: 30%;
  bottom: 40px;
  background: url('../images/pexels-pixabay-262048.jpg');
  background-size: cover;
  border-radius: 10px;
  box-shadow: 0 4px 30px rgb(71, 59, 43);
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.685);
}
.habitaciones{
  background: rgba(0, 0, 0, 0.514);
  width: 100%;
  height: 100%;
  
}
.habitaciones h3{
  padding-top: 2%;
  text-align: center;
}
.botonAbrirModal{
  font-family: 'Poppins', sans-serif;
  width: 250px;
  margin: 2%;
  background: #96b1c7;
  border: none;
  border-radius: 5px;
  height: 50px;
  text-align: center;
}

.botonAbrirModal:hover{
  background: #96cefc;
  cursor: pointer;
  
}
.botonCerrarModal{
  background: #FFC36D;
}

.roomCardGroup{
  height: 90%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 10px;

}
.cardRoom{
  font-weight: 300;
  height: 30%;
  width: 90%;
  /* From https://css.glass */
  background: rgba(112, 101, 85, 0.377);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.623);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  border: 1px solid rgba(121, 113, 70, 0.801);
  display: flex;
}
.imgContainerCardRoom img{
  width: 230px;
  height: 160px;
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.623);
}
.imgContainerCardRoom{
  display: flex;
  align-items: center;
  margin-left: 2%;
  margin-right: 2%;
}
.textContainerCardRoom{
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.espacioBotonReservar button{
  margin-top: 20%;
  padding: 10%;
  font-family: inherit;
  border: none;
  border-radius: 5px;
  width: 80px;
  margin-right: 20px;
}
.espacioBotonReservar button:hover{
  box-shadow: 0 4px 30px rgba(255, 255, 255, 0.623);
}

